<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div id="lines"></div>
<script>
var eventRegexp = /^([^:]+): ?((([^=]+)=)?(.+))/;

function receiveEvent(event) {
    // reveive events from parent window
    //if (event.source != parent) return;

    console.log(event);
    var match = eventRegexp.exec(event.data);
    console.log(match);
    if (match) {
        if (match[1] == 'content') {
            receiveContent(match[2]);
        } else if ( match[1] == 'config' && match[3]) {
            receiveConfig(match[4],match[5]);
        }
    }
}

var lines = document.getElementById('lines');

function receiveConfig(key, value) {
    // console.log("config "+key+"="+value);
    if (key == "css") {
        var link = document.getElementById('css');
        if (link) {
            link.setAttribute(href,value);
        } else {
            link = document.createElement( "link" );
            link.id = "css";
            link.type = "text/css";
            link.rel = "stylesheet";
            link.href = value;
            document.getElementsByTagName("head")[0].appendChild(link);
        }
    }
    // TODO: 
}

function receiveContent(content) {
    var line = document.createElement("p");
    line.appendChild(document.createTextNode(content));
    lines.appendChild(line);
    window.scrollTo(0,document.body.scrollHeight); // scroll to bottom
}

window.addEventListener("message", receiveEvent, false);
console.log("loaded view");

parent.postMessage("accept: *","*");
</script>
</body>
</html>
